* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 610px;
    border: 2px solid rgb(78, 76, 76);
}

.images-size {
    width: 200px;
    height: 180px;
    margin: 1px;
}